
/*Let's get started with style*/

/*All Rights Reserved To CodeSmoker*/

/*Contact CodeSmoker: www.codesmoker.ml*/


body {
   padding: 1rem;
}
#logo{
    max-width: auto;
    max-height: 1.5rem;
   
}
.header2{
    font-family: 'Poppins';
    color:hsl(192, 100%, 9%);
}
.floatRight{
    float: right;
 }
.flexSpacearound {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}
.displayFlex {
    display: flex;
}

/*Button Style Starting Here*/
#button1 {
    max-width: 100%;
    height: auto;
    font-weight: 900;
    background: transparent;
    border: 2px solid hsl(321, 85%, 68%);
    border-radius: 3rem;
}
.btn-change1{
    height: 50px;
    max-width: 100%;
    background:  #ff0077;
    margin: 20px;
    float: left;
    border: 0px;
    color:hsl(321, 66%, 55%);
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-box-shadow: 0px 0px 0 0 #ff0077 inset , 0px 0px 0 0  hsl(321, 100%, 78%) inset;
}
.btn-change1:hover{
    -webkit-box-shadow: 50px 0px 0 0 hsl(321, 100%, 78%) inset , -50px 0px 0  #ff0077 inset;
}

/*Button Style Ending Here*/
#p1{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.p1text {
    max-width: 100%;
    height: auto;
    font-size: 1.2rem;
    max-width: 450px;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #4f5f69
}
/* Second Button starting Here */

.secondary-btn {
    background-color: #f372dd;
    color: #fff;
    border: none;
    font-weight: bolder;
    border-radius:21rem;
    width: 18rem;
    height: 4rem;
    margin-left:3rem;
}
.secondary-btn-div {
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}

/* Second Button ending Here*/

/*Mockup Image Starting Here*/
.res-img {
    width: 100%;
    max-width: 50rem;
    height: 100%;
    margin: 3rem;
}
.screenmockup-div {
    justify-content: center;
    display: flex;
    margin-top: 5rem;
}
/*Mockup Image Ending Here*/

/*Card Style Starting Here*/
.card-body {
    justify-content: center;
       
}
.card {
    margin-top: 5rem;
    border:none;
}
.card-custom {
    justify-content: center;
    display: inline;
    font-size: 1.4rem;
}
.card-h1 {
    font-weight: 900;
    font-size: 4rem;
}
/*Card Style Ending Here*/

#grow-together {
    max-width: 70%;
}
.fafa-h1 {
    font-weight: 900;
    font-size: 2rem;
}
.first-row {
    margin-top: 5rem;
}
.mt {
    margin-top: 10rem;
}

/* Footer Style Starting Here*/

.context-dark, .bg-gray-dark, .bg-primary {
    color: #fff;
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #fff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
/* Footer Style Ending Here*/

